
body {
  font-family: 'Raleway', sans-serif;
  background-color: #000;

}

section div {
  width: 100%;
  height: auto
}

 .granadient {
   padding-bottom: 2%;
  display: block;
  background-image: url("../assets/images/granadient.png");
  background-repeat: no-repeat;
  background-size: cover;
 }

 .initialText {
   margin: 0;
   padding: 2.5vh;
   display: inline-block;
   font-family: Pacifico;
   font-size: 3.5em;
   -webkit-animation-duration: 3s;
   -webkit-animation-delay: 1s;
   -webkit-animation-iteration-count: 2;
}

 .intro {
   margin: 0;
   padding: 0;
   display: block;
   color: #fff;
   font-size: 3em;
 }
.fotoIngrid {
  width: 15%;
  margin-top:5vh;
  display: inline-block;

}
#openModal {
  display: block;
  border-radius: 10%;
  font-family: Pacifico;
  font-size: 2.5rem;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: .3s;
  -webkit-animation-iteration-count: infinite;
}
.me{
  width: auto;
  height: auto;
}
.modal-content{
  max-width: 80vh;
  height: auto;
}

.aboutMe {
   max-width: 85vh;
   height: auto;

}

.emoji{
  padding-left: 2em;
  max-width: 8vh;
  min-width: 6vh;
  min-height: 8vh;
  min-height: 6vh;
 
}
.modal-footer {
  width: 4vh !important ;
  height: auto;
}

.skills {
  height: auto;
  margin: 0;
  padding: 0;
}
.technicalskilss{
width: auto;
}
.tech-Skills {
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  max-width: 14vh;
  height: auto;
}
.soft-Skills {
  max-width: 12vh;
  height: 10vh;
  border-radius: 48%;
}
.soft-Text {
  font-size: 1rem;
}

.proyects {
  width: 100%;
  height: auto;
  padding-top:1.5%;
  padding-bottom: 2%;
  padding-left: 1rem;
  background-color: #ffff;
}

.desarrollos {
  width: 100%;
  height: auto;
}

.my-Work {
  font-family: Pacifico;
  font-size: 3.5em;
}

#portafolio a {
  margin-top: 5%;
  margin-left: 5%;
}
#contactMe {
  width: 100%;
  height: auto;
  padding-left: 1rem;
  background-color: #000;
}

.footer-contact-Button{
margin-right: 1%;
}

.social-Media{
  width: 11%;
  height: auto;
  margin-left: .5%;
}
#email-btn2{
  left: 50%;
}

#copy {
  margin-top: 8%;
  font-size: .8em;
}
