
body {
  font-family: 'Raleway', sans-serif;
  background-color: #000;

}
section div {
  width: 100%;
  height: auto
}
.row {
  margin-bottom: 0 !important;
}
.black {
  background-color: #171717 !important;

}
.granadient {
  padding-bottom: 2%;
 display: block;
 background-image: url("../assets/images/chris-ried-ieic5Tq8YMk-unsplash.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 height: 42vh;
}
.background-text{
  width: 80%;
  margin: 0 auto;
  background-color: white;
 }

 .initialText {
   margin: 0;
   padding: 2.5vh;
   display: inline-block;
   font-family: Pacifico;
   font-size: 3.5em;
   -webkit-animation-duration: 3s;
   -webkit-animation-delay: 1s;
   -webkit-animation-iteration-count: 2;
}

 .intro {
   margin: 0;
   padding: 0;
   display: block;
   color: #fff;
   font-size: 3em;
 }
 body > div.navbar-fixed > nav > div > ul > li > a{
font-weight: 300;
font-size: 1.2em !important;
}

#openModal {
  margin-bottom: 20px;
  margin-top: 15px; 
}

.me{
  width: auto;
  height: auto;
}
.modal-content{
  max-width: 80vh;
  height: auto;
}

.aboutMe {
   max-width: 85vh;
   height: auto;

}

.emoji{
  padding-left: 2em;
  max-width: 8vh;
  min-width: 6vh;
  min-height: 8vh;
  min-height: 6vh;
 
}
.modal-footer {
  width: 4vh !important;
  height: auto;
}

.skills {
  height: auto;
  margin: 0;
  padding: 0;
}
.technicalskilss{
width: auto;
}
.tech-Skills {
  display: inline-block;
  width: 18%;
  height: auto;
  margin: 10px;
}
.img-container{
display: flex;
flex-wrap: wrap;

}
.soft-Skills {
  width: 50px;
  height: auto;
  border-radius: 48%;
  margin-right: 2em;
  min-width: 80px;
}
.soft-Text {
  font-size: 1rem;
}
.skills-container{
  display: flex;
  width: 45%;
  margin: 0 auto;
  margin-top: 1.5%;
  margin-bottom: 1%;
}
.proyects {
  width: 100%;
  height: 75vh;
  padding-top:1.5%;
  padding-bottom: 2%;
  padding-left: 1rem;
  background-color: #ffff;
}

.desarrollos {
  width: 100%;
  height: auto;
}

.my-Work {
  font-family: Pacifico;
  font-size: 3.5em;
}

#portafolio a {
  margin-top: 5%;
  margin-left: 5%;
}
#contactMe {
  width: 100%;
  height: auto;
  padding-left: 1rem;
  background-color: #000;
}

.footer-contact-Button{
margin-right: 1%;
}

.social-Media{
  width: 11%;
  height: auto;
  margin-left: .5%;
}

#copy {
  margin-top: 8%;
  font-size: .8em;
}
@media (max-width: 500px) {
  .proyects{
    height: auto;
  }
}

@media (max-width: 500px) {
  .granadient {
    height: 5vh;
  }
}